<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
jQuery(function($) {
    <py:for each="id in data.ids" >
        jQuery('#field-${ id }').datepicker({
            <!-- we do this instead of using the default because there is a bug in jquery-ui when using the firstDay parameter -->
            <py:if test="data.first_day">
                firstDay: "${data.first_day}",
            </py:if>
            dateFormat: "${data.format}",
            showOn: "both",
            buttonImage: "${data.calendar}",
            buttonImageOnly: true
        });
    </py:for>
});
</script>
