<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
jQuery(function($) {
    <py:for each="id in data.ids" >
        jQuery('#field-${ id }').datepicker({
            firstDay: "${data.first_day}",
            dateFormat: "${data.format}",
            showOn: "both",
            buttonImage: "${data.calendar}",
            buttonImageOnly: true
        });
    </py:for>
});
</script>
